<%- contentFor('main-content') %>

<!-- Write a logic that will dynamically change the content of this page based on controller parameters -->
<!-- for instance we know that the controller passes a variable called title -->
<!--Use this title to change the content of each page based on the route-->
<!--All content should be placed here for now-->
<!--Tomorrow we are going to implement a cleaner dynamic content pages-->
 
<!--This is an example of what you are expected to do here-->

<!-- POST VIEW STARTS HERE
<% if (title == 'Create Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="Post Title">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="Post Body">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Post') { %>
     
<% } else if (title == 'Update Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/post/<%= post.id %>/update" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="<%= post.post_title %>">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="<%= post.post_body %>">
              <br><br>
              <input type="submit" value="Update">
            </form>
        </div>
    </div>
<% } else if (title == 'Post Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single post</h1>
             <p>I am a post for this ID = <%= post.id %></p>
             <p>Post Title: <%= post.post_title %></p>
             <p>Post Body:  <%= post.post_body %></p>
             <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
        </div>
    </div>
<% } else if (title == 'Post List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% posts.forEach(function(post) { %>
                <li>
                    <h4><a href="/blog/post/<%= post.id %>"><%= post.post_title %></a></h4>
                    <p>The main body of the post <%= post.post_body %></p>
                     <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>
<% } else { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p>The main content of the page goes here</p>
        </div>
    </div>
<% } %>
POST VIEW END HERE -->

<!--AUTHOR VIEW STARTS HERE -->
<!--complete logic for author view-->
<% if (title == 'Create Author') { %>
 
<% } else if (title == 'Delete Author') { %>
     
<% } else if (title == 'Update Author') { %>
   
<% } else if (title == 'Author Details') { %>
 
<% } else if (title == 'Author List') { %>
  
<% } else { %>
  
<% } %>
<!--AUTHOR VIEW END HERE-->

<!--USER VIEW STARTS HERE -->
<!--complete logic for user view-->
<% if (title == 'Create User GET') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h2><%= title %></h2>
            <form action="" method="post">
              <strong>
                  First Name:
                </strong><br>
              <input type="text" name="first_name" placeholder="First Name">
              <br>
              <strong>
                Last Name:
              </strong><br>
              <input type="text" name="last_name" placeholder="Last Name">
              <br>
              <strong>
                Username:
              </strong><br>
              <input type="text" name="username" placeholder="Username">
              <br>
              <strong>
                Role:
              </strong><br>
              <input type="text" name="role" placeholder="Role">
              <br>
              <strong>
                Email:
              </strong><br>
              <input type="email" name="email" placeholder="Email">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <% } else if (title == 'Delete User') { %>
         
    <% } else if (title == 'Update User') { %>
        <div class="col-sm-8">    
            <div class="jumbotron">
                <h2><%= title %></h2>
                <form action="" method="post">
                  <strong>
                      First Name:
                    </strong><br>
                  <input type="text" name="first_name" value= <%= user.first_name %>>
                  <br>
                  <strong>
                    Last Name:
                  </strong><br>
                  <input type="text" name="last_name" value=<%= user.last_name %>>
                  <br>
                  <strong>
                    Username:
                  </strong><br>
                  <input type="text" name="username" value=<%= user.username %>>
                  <br>
                  <strong>
                    Role:
                  </strong><br>
                  <input type="text" name="role" value=<%= user.role %>>
                  <br>
                  <strong>
                    Email:
                  </strong><br>
                  <input type="email" name="email" value=<%= user.email %>>
                  <br><br>
                  <input type="submit" value="Submit">
                </form>
            </div>
        </div>
       
    <% } else if (title == 'User Details') { %>
        <div class="col-sm-8">    
            <div class="">
                <h3><%= title %></h3>
                 <h4>Details of the User with ID: <%= user.id %>.</h4>
                 <h4> <%= user.id %>. <a href="/blog/user/<%= user.id %>"> <%= user.username %> </a></h4>
                        <p><strong>First Name:</strong> <%= user.first_name %></p>
                        <p><strong>Last Name:</strong> <%= user.last_name %></p>
                        <p><strong>Username:</strong> <%= user.username %></p>
                        <p><strong>Role:</strong> <%= user.role %></p>
                        <p><strong>Email:</strong> <%= user.email %></p>
                        <a href="/blog/user/<%= user.id %>/update">Edit  User</a> | <a href="/blog/user/<%= user.id %>/delete">Delete User</a>
            </div>
        </div>
     
    <% } else if (title == 'User List') { %>
        <div class="col-sm-8">
            <h2><%= title %></h2>    
            <div class="">
            <ol>
            <% users.forEach(function(user) { %>
                    <li>
                        <h4><a href="/blog/user/<%= user.id %>"><%= user.username %></a></h4>
                        <p><strong>First Name:</strong> <%= user.first_name %></p>
                        <p><strong>Last Name:</strong> <%= user.last_name %></p>
                        <p><strong>Username:</strong> <%= user.username %></p>
                        <p><strong>Role:</strong> <%= user.role %></p>
                        <p><strong>Email:</strong> <%= user.email %></p>
                         <a href="/blog/user/<%= user.id %>/update">Edit  User</a> | <a href="/blog/user/<%= user.id %>/delete">Delete User</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
        </div>
      
    <% } else { %>
      
    <% } %>
    <!--USER VIEW END HERE-->

<!--COMMENT VIEW STARTS HERE-->
<!--complete logic for category view-->

<!--COMMENT VIEW END HERE-->

<!--CATEGORY VIEW START HERE-->
<!--complete logic for category view-->
<!--CATEGORY VIEW END HERE-->


<!--do this for all the routes-->
<!--This is how you will dynamically change the content on the main page-->
<!--we already know that left and right side bar are mostly constant-->


